.cd-user-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 54, 66, 0.9);
    z-index: 10000;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    -moz-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
}
.cd-user-modal.is-visible {
    visibility: visible;
    opacity: 1;
}
.cd-user-modal.is-visible .cd-user-modal-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.cd-user-modal legend{
    color: #5c402c;;
}
.cd-user-modal-container {
    position: relative;
    width: 90%;
    max-width: 600px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 0.25em;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.cd-user-modal-container .cd-switcher:after {
    content: "";
    display: table;
    clear: both;
}
.cd-user-modal-container .cd-switcher li {
    width: 50%;
    float: left;
    text-align: center;
}
.cd-user-modal-container .cd-switcher li:first-child a {
    border-radius: .25em 0 0 0;
}
.cd-user-modal-container .cd-switcher li:last-child a {
    border-radius: 0 .25em 0 0;
}
.cd-user-modal-container .cd-switcher a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #d2d8d8;
    color: #809191;
}
.cd-user-modal-container .cd-switcher a.selected {
    background: #FFF;
    color: #505260;
}
@media only screen and (min-width: 600px) {
    .cd-user-modal-container {
        margin: 4em auto;
    }
    .cd-user-modal-container .cd-switcher a {
        height: 70px;
        line-height: 70px;
    }
}

.cd-form {
    padding: 1.4em;
}
.cd-form .fieldset {
    position: relative;
    margin: 1.4em 0;
}
.cd-form .fieldset:first-child {
    margin-top: 0;
}
.cd-form .fieldset:last-child {
    margin-bottom: 0;
}
.cd-form label {
    font-size: 14px;
    font-size: 0.875rem;
}
.cd-form label.image-replace {
    /* replace text with an icon */
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    text-shadow: none;
    background-repeat: no-repeat;
    background-position: 50% 0;
}
.cd-form label.cd-username {
    background-image: url("../img/cd-icon-username.svg");
}
.cd-form label.cd-email {
    background-image: url("../img/cd-icon-email.svg");
}
.cd-form label.cd-password {
    background-image: url("../img/cd-icon-password.svg");
}
.cd-form input {
    margin: 0;
    padding: 0;
    border-radius: 0.25em;
}
.cd-form input.full-width {
    width: 100%;
}
.cd-form input.has-padding {
    padding: 12px 20px 12px 50px;
}
.cd-form input.has-border {
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.cd-form input.has-border:focus {
    border-color: #343642;
    box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
    outline: none;
}
.cd-form input.has-error {
    border: 1px solid #d76666;
}
.cd-form input[type=password] {
    /* space left for the HIDE button */
    padding-right: 65px;
}
.cd-form input[type=submit] {
    padding: 16px 0;
    cursor: pointer;
    background: #2f889a;
    color: #FFF;
    font-weight: bold;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.no-touch .cd-form input[type=submit]:hover, .no-touch .cd-form input[type=submit]:focus {
    background: #3599ae;
    outline: none;
}
.cd-form .hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    font-size: 0.875rem;
    color: #343642;
}
.cd-form .cd-error-message {
    display: inline-block;
    position: absolute;
    left: -5px;
    bottom: -35px;
    background: rgba(215, 102, 102, 0.9);
    padding: .8em;
    z-index: 2;
    color: #FFF;
    font-size: 13px;
    font-size: 0.8125rem;
    border-radius: 0.25em;
    /* prevent click and touch events */
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
    -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
    transition: opacity 0.2s 0, visibility 0 0.2s;
}
.cd-form .cd-error-message::after {
    /* triangle */
    content: '';
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}
.cd-form .cd-error-message.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0, visibility 0 0;
    -moz-transition: opacity 0.2s 0, visibility 0 0;
    transition: opacity 0.2s 0, visibility 0 0;
}
@media only screen and (min-width: 600px) {
    .cd-form {
        padding: 2em;
    }
    .cd-form .fieldset {
        margin: 2em 0;
    }
    .cd-form .fieldset:first-child {
        margin-top: 0;
    }
    .cd-form .fieldset:last-child {
        margin-bottom: 0;
    }
    .cd-form input.has-padding {
        padding: 16px 20px 16px 50px;
    }
    .cd-form input[type=submit] {
        padding: 16px 0;
    }
}

.cd-form-message {
    padding: 1.4em 1.4em 0;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.4;
    text-align: center;
}
@media only screen and (min-width: 600px) {
    .cd-form-message {
        padding: 2em 2em 0;
    }
}

.cd-form-bottom-message {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -30px;
    text-align: center;
    font-size: 14px;
    font-size: 0.875rem;
}
.cd-form-bottom-message a {
    color: #FFF;
    text-decoration: underline;
}

@media only screen and (min-width: 1170px) {
    .cd-close-form {
        display: none;
    }
}

#cd-login{
    display: none;
}

#cd-login.is-selected{
    display: block;
}

/*add new Link*/

.addNewLink {
    margin: 50px auto;
    padding: 18px 50px;
    background: #e3caa1;
    background-clip: padding-box;
    border: 1px solid #172b4e;
    border-bottom-color: #142647;
    border-radius: 5px;
    background-image: -webkit-radial-gradient(cover, #e3a886, #c08f56);
    background-image: -moz-radial-gradient(cover, #e3a886, #c08f56);
    background-image: -o-radial-gradient(cover, #e3a886, #c08f56);
    background-image: radial-gradient(cover, #e3a886, #c08f56);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
}
.addNewLink > h1 {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
}

.addNewLink-input {
    display: block;
    width: 100%;
    height: 37px;
    margin-bottom: 20px;
    padding: 0 9px;
    color: white;
    text-shadow: 0 1px black;
    background: #5a5950;
    border: 1px solid #15243b;
    border-top-color: #0d1827;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
}
textarea[type="text"]:-moz-placeholder {
    text-align: right;
}
textarea[type="text"]:-ms-input-placeholder {
    text-align: right;
}
textarea[type="text"]::-webkit-input-placeholder {
    text-align: right;
}
.addNewLink-input:focus {
    outline: 0;
    background-color: #6d6a3a;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 4px 1px rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 4px 1px rgba(255, 255, 255, 0.6);
}
.lt-ie9 .addNewLink-input {
    line-height: 35px;
}

.addNewLink-submit {
    display: block;
    width: 100%;
    height: 37px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #a65d20;
    text-align: center;
    text-shadow: 0 1px rgba(255, 255, 255, 0.3);
    background: #e7af5e;
    background-clip: padding-box;
    border: 1px solid #737138;
    border-bottom-color: #66632c;
    border-radius: 4px;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, #e3a886, #c08f56);
    background-image: -moz-linear-gradient(top, #e3a886, #c08f56);
    background-image: -o-linear-gradient(top, #e3a886, #c08f56);
    background-image: linear-gradient(to bottom, #e3a886, #c08f56);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 7px rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 7px rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.15);
}
.addNewLink-submit:active {
    background: #ecb064;
    -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px rgba(255, 255, 255, 0.1);
}

.addNewLink-help {
    text-align: center;
}
.addNewLink-help > a {
    font-size: 11px;
    color: #d4deef;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
}
.addNewLink-help > a:hover {
    text-decoration: underline;
}
a{
    cursor: pointer !important;
    color: #3f2f16;
}
.checkbox input[type="checkbox"]
{
    float: right;
    position: relative;
    margin: 0;
}